:root {
  --xcolor: #d6202c;
  --ocolor: #0073ff;
}

.card {
  width:100%;
  border: 1px solid grey;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 2px;
}

.option-grid {
  overflow: none;
}

.option-x,
.option-o {
  height: 5rem;
  border: none;
  color: white;
  font-size: large;
}

.gamebtn {
  height: 7.5rem;
  color: white;
  font-size: large;
  background-color: #212121;
  border-color: white;
}

.gamebtn.o {
  background-color: var(--ocolor);
}

.gamebtn.x {
  background-color: var(--xcolor);
}

.option-x {
  background-color: var(--xcolor)
}

.option-o {
  background-color: var(--ocolor);
}

.scores {
  position: fixed;
  background-color: #212121;
  animation-name: toright;
  animation-duration: 0.35s;
  width: 100%;
  height: 3rem;
  display: flex;
  top: 0;
  left: 0;
}

.score-x {
  background-color: var(--xcolor)
}

.score-o {
  background-color: var(--ocolor)
}

.score-o,
.score-x {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  flex: 25;
}

.mar-score {
  margin-bottom: 5.75%;
}

.status {
  right: 0;
  position: fixed;
  display: flex;
  justify-content:center;
  width: 10rem;
  background-color: var(--dark);
  height: 25%;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.status-inner.x {
  background-color: var(--xcolor)
}

.status-inner.o {
  background-color: var(--ocolor)
}

.status-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 0px;
}

.status-inner.x,.status-inner.o{
  animation-name:toright;
  animation-duration:0.75s;
  font-size: xx-large;
}


#game_board {
  display: grid;
  position: absolute;
  animation-name: appear;
  animation-duration: 2s;
  grid-template-columns: 7.5rem 7.5rem 7.5rem;
}

@media only screen and (max-width: 700px) {
  .option-grid {
    flex-direction: column;
  }

  .mar-score {
    margin-bottom: 20%;
  }

#game_board{grid-template-columns:6.5rem 6.5rem 6.5rem}

  .status {
    bottom: 0;
    height: 5rem;
    position: fixed;
    width: 10rem;
    border-radius:0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: var(--dark);
    width: 100%;
  }

  .status-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

}

.pop-outer {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.pop-inner {
  font-size: 0px;
  background-color: #212121;
  overflow-x: hidden;
  height: 10rem;
  animation-name: inwidth;
  animation-duration: 1.5s;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-radius: 6px;
}
